.bg-green {
  background: #2ecc71;
  color: white;
}
.bg-green:hover {
  color: white;
}

.bg-pink {
  background: #FE6B6B;
  color: white;
}
.bg-pink:hover {
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #34495e !important;
  font-size: 19px;
}

.dropdown-menu {
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown-menu .dropdown-item {
  color: #34495e !important;
  font-size: 19px;
}
